body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.story-container {
  display: flex;
  gap: 10px;
  padding: 20px;
  z-index: 1000;
}

.story {
  width: 100px;
  text-align: center;
}

.story-image {
  width: 100px;
  height: 100px;
  border: 4px solid #5E35B1;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
}

.story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-title {
  color: #000;
  font-size: 14px;
}

.fullscreen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000; /* Ensure this is higher than other elements */
  justify-content: center;
  align-items: center;
}

.fullscreen-video-container {
  position: relative;
  height: 85%;
  width: auto;
  max-width: 45%; /* Adjusted to be less wide */
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: flex-start; /* Align items at the top */
  justify-content: center;
}

mux-player {
  aspect-ratio: 9 / 16;
  height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 16px;
  --seek-backward-button: none;
  --seek-forward-button: none;
  object-fit: cover; /* Ensure the video covers the container */
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 20;
}

.close-button-icon svg {
  width: 24px;
  height: 24px;
}

.play-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 20;
}

.play-button-overlay svg {
  width: 64px;
  height: 64px;
  fill: white;
  opacity: 0.7;
}

@media (max-width: 600px) {
  .fullscreen-video-container {
    height: 90%;
    width: 90%;
    max-width: 90%;
  }

  .close-button-icon svg {
    width: 20px;
    height: 20px;
  }
}
